@import "tailwindcss";
@config "../tailwind.config.js";


@layer components {
    .z-ds-button {
        @apply flex justify-center bg-z-ds-general-black-100 text-z-ds-general-white-100 gap-z-ds-8 w-fit px-z-ds-8 py-z-ds-4 text-z-ds-12 cursor-pointer hover:bg-gray-500 focus:bg-gray-500 disabled:bg-gray-200 disabled:pointer-events-none;
    }

    .z-ds-button-outline {
        @apply bg-transparent text-z-ds-general-black-100 border border-z-ds-general-black-100 hover:bg-gray-200 focus:bg-gray-200;
    }

    .z-ds-button-accent {
        @apply bg-z-ds-color-accent-70 text-z-ds-general-white-100 hover:bg-z-ds-color-accent-100 focus:bg-z-ds-color-accent-100;
    }
}


tr td, 
tr th {
    border: 1px solid var(--z-ds-color-general-black-100);
    padding: var(--z-ds-space-s) var(--z-ds-space-m);
}

input[aria-invalid='true'],
textarea[aria-invalid='true'],
select[aria-invalid='true'] {
    border: 2px solid var(--z-ds-color-accent-100);
    background-color: var(--z-ds-general-white-100);
}